In [1]:
from preprocess_data import FightDataPreprocessor
import tensorflow.keras as tf

In [2]:
fdp = FightDataPreprocessor()

In [3]:
fighters = fdp.get_fighters()

/Users/charlespierse/PycharmProjects/UFC_Fight_Predictor/Fight_Predictor
/Users/charlespierse/PycharmProjects/UFC_Fight_Predictor/Fight_Predictor/Fight_Predictor/Fights_scraper/spiders/scraped_fighters.csv

SystemExit: Unable to read Fighters file from disk. Exiting.

/Users/charlespierse/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3275: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [10]:
fighters.head()

  date_of_birth     fighter_name  ...   td_def weight
0   Jun 25 1981  Luciano Azevedo  ...        0  161.0
1   Jul 17 1990   Michael Byrnes  ...        0  155.0
2   Feb 07 1989   Gleidson Cutis  ...        0  155.0
3   Aug 11 1990       Rolando Dy  ...       68  145.0
4   Jul 27 1986      Jessica Eye  ...       60  125.0

[5 rows x 15 columns]

In [11]:
def get_fighter_details(fighter_name):
    return fighters[fighters.fighter_name==fighter_name]

In [12]:
get_fighter_details('Conor McGregor')
get_fighter_details('Anthony Pettis')

   date_of_birth    fighter_name  fighter_record   ...   td_avg  td_def  weight
87   Jan 27 1987  Anthony Pettis  Record: 22-8-0   ...     0.73      58   170.0

[1 rows x 15 columns]

In [18]:
import os

os.getcwd()

'/Users/charlespierse/PycharmProjects/UFC_Fight_Predictor/Fight_Predictor'

In [20]:
tf.models.load_model(os.getcwd()+'/Saved_Models/Winner_Prediction_Models/bout_winner.h5')

WARNING:tensorflow:From /Users/charlespierse/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/charlespierse/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/layers/core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/charlespierse/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [ ]:
def pass_fighters_through_pipeline(fighter1,fighter2):